/*
* Demo Styles
*/

@import url(1da3fafb9f3d498cb397a23bef92303a.css);


.demo-wrapper {
  padding: 1em
}


a.button {
  background-color: #F02968;
  padding: 5px 15px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 1.5em;
  margin-right: 1em
}

.infobar {
  font-size: 20px;
  padding: 1em
}

.infobar p {
  text-align: center;
  margin-top: 1em
}


.credit,
.tips {
  text-align: center
}

.credit {
  margin-top: 1em
}

.credit a {
  text-decoration: underline
}
